<div class="row primary">
  <div class="col-3">
    <div class="logo">
      <img src="/assets/logo.png" alt="">
    </div>
  </div>
  <div class="col-9">
    <div class="profiler float-right">
      <div class="profile">
        <img src="/assets/profile-img.png" alt="">
        <span class="profile-name">John Doe</span>
        <span class="fa fa-caret-down"></span>
      </div>
      <div class="logout">
        <span class="fa fa-sign-out"></span>
        <span class="text">Logout</span>
      </div>
    </div>
  </div>
</div>
