<div class="add-template-wrapper">
  <h3>Add New Template</h3>
  <form [formGroup]="addTemplate" (ngSubmit)="onAddTemplate(addTemplate)">
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Template Id</label>
        <input type="text" class="form-control" formControlName="tempId" placeholder="Template ID">
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Template Type</label>
        <select id="inputState" class="form-control" formControlName="tempType">
            <option value="Template Type" disabled>Template Type</option>
            <option>Email</option>
            <option>Sms</option>
          </select>
      </div>
      <div class="form-group col-md-4">
        <label for="inputPassword4">Template Name</label>
        <input type="text" class="form-control" formControlName="tempName" placeholder="Template Name">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <label for="inputEmail4">Status</label>
        <select id="inputState" class="form-control" formControlName="tempStatus">
            <option  value="Select Status" disabled>Select Status</option>
            <option>Active</option>
            <option>InActive</option>
          </select>
      </div>
    </div>
    <div class="form-row">
        <button type="submit" class="btn btn-primary btn-add">Add</button>
        <button type="submit" class="btn btn-primary btn-reset">Reset</button>
    </div>    
  </form>
</div>
