<ol>
  <li>Please click on Campaign Management link in menu to navigate and see assigned tasks.</li>  
</ol>

<p>Link to github url to see the full code. <a href="">Go to Git</a></p>


<p>Steps to regenerate the application</p>
<ol>
  <li>Download or clone from above URL</li>
  <li>Navigate to folder in CMD and type 'npm install'</li>
  <li>Type 'ng serve'</li>
  <li>Let the application bundle and complie</li>
  <li>Go to browser and type 'localhost:4200'</li>
</ol>

<p><b>Note: validations are not implemented so clicking on add button will always work and create a new row.</b></p>

<p>By default scrollbar is hidden for Campaign Management but still scrolls :)</p>

<i>Made by Vipul v</i>