/* You can add global styles to this file, and also import other style files */

body {
    font-family: 'Work Sans', sans-serif;
    background-color: #f1f2f7;
    overflow: hidden;
}

/* helpers */
.primary {
    background-color: #4c385a;
}


::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}