<ul class="nav nav-pills nav-fill menu">
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard/config/help"  routerLinkActive="active" (click)="onClick($event)"><span class="fa fa-cog">&nbsp;</span>Configuration</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="fa fa-hourglass">&nbsp;</span>Loyalty Management</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="fa fa-user">&nbsp;</span>Manage Users</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="fa fa-users">&nbsp;</span>Manage Members</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="fa fa-cc-mastercard">&nbsp;</span>Coupon Management</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" routerLink="/dashboard/campaign/team/viewtemplate"  routerLinkActive="active" (click)="onClick($event)"><span class="fa fa-empire">&nbsp;</span>Camapaign Management</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="fa fa-empire">&nbsp;</span>Others</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="fa fa-empire">&nbsp;</span>Advisory</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#"><span class="fa fa-empire">&nbsp;</span>Reports</a>
  </li>
</ul>
